@model AFFZ_Admin.Controllers.MenuViewModel

<form asp-action="DeleteConfirmed" method="post">
    <input type="hidden" asp-for="MenuId" />
    <p>Are you sure you want to delete the menu: <strong>@Model.MenuName</strong>?</p>
    <button type="submit" class="btn btn-danger">Delete</button>
    <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
</form>