@model Slab
@{
    ViewData["Title"] = "Update Slab";
}

<div class="page-wrapper page-settings">
    <div class="content">
        <!-- Page Header -->
        <div class="card shadow-sm">
            <div class="card-header bg-primary text-white">
                <h5 class="mb-0">Update Slab</h5>
            </div>
            <div class="card-body">

                <form method="post" asp-action="SlabEdit">

                    <input type="hidden" asp-for="SlabID" />
                    <div class="form-group">
                        <label asp-for="SlabName"></label>
                        <input asp-for="SlabName" class="form-control" />
                        <span asp-validation-for="SlabName" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="LowerLimit"></label>
                        <input asp-for="LowerLimit" class="form-control" />
                        <span asp-validation-for="LowerLimit" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="UpperLimit"></label>
                        <input asp-for="UpperLimit" class="form-control" />
                        <span asp-validation-for="UpperLimit" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Fixed"></label>
                        <input asp-for="Fixed" class="form-control" />
                        <span asp-validation-for="Fixed" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Percentage"></label>
                        <input asp-for="Percentage" class="form-control" />%
                        <span asp-validation-for="Percentage" class="text-danger"></span>
                    </div>
                    <div class="form-group form-check form-switch">
                        <input class="form-check-input" type="checkbox" asp-for="IsDefaultSlab" role="switch">
                        <label asp-for="IsDefaultSlab"></label>
                    </div>
                    <button type="submit" class="btn btn-primary">Save</button>
                    <a asp-action="SlabIndex" class="btn btn-secondary">Cancel</a>
                </form>
            </div>
        </div>
    </div>
</div>